body {
  margin: 0;
  background: linear-gradient(180deg, rgb(81, 155, 194), rgb(255, 255, 255));
  display: flex;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: flex-start; /* Align to the top */
}

main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%; /* Full width */
  max-width: 1200px; /* Maximum content width */
  margin: 60px auto 0; /* Center content and add top margin for fixed navbar */
  padding: 20px;
}
.navbar {
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #f8f8f8;
  padding: 10px;
  box-shadow: 0 4px 2px -2px gray;
  z-index: 1000;  /* Ensure it's above other content */
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center; /* Center items */
  padding: 0;
  margin: 0;
}

.navbar ul li {
  margin: 0 20px; /* Space between items */
}

.navbar ul li a {
  color: #333;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.navbar ul li a:hover {
  color: #007BFF; /* Hover effect */
}

/* Add other styles as necessary */
.centered-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full view height */
  text-align: center;
}
.logo-banner {
  text-align: center;
  padding: 10px;
  background-color: #f8f8f8; /* Optional for better visibility */
}